@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}

body {
    width: 100%;
    height: 100%;
    background-color: #DBFF33;
}
.wrapper {
    display: block;
    width: 100%;
    height: 100%;
}

.todoBox {
    display: flex;
    flex-direction: column;
    width: 1000px;
    min-height: 500px;
    background-color: aqua;
    margin: 0 auto;
}
.todoBox header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 100px;
    cursor: default;
}

.central {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 750px;
    height: auto;
}

.btnMenu ul {
    width: 750px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.btnMenu ul li {
    font-size: 20px;
    height: 30px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.btnMenu ul li:hover {
    background-color: rgba(247, 213, 22, .4);
    font-size: 22px;
    transition: .3s; 
}

.active {
    background-color: #FFBD33;
    text-decoration: underline #fff;
}

/* settings of block`s with list */

.box {
    background-color: #498E0F;
    min-height: 300px;
    width: auto;
    display: block;
    position: relative;
}

.activeList {
    height: auto;
    width: 750px;
    display: none;
    position: relative;
}

.activeList ul {
    width: auto;
    height: auto;
    position: relative;
}

.activeList ul li {
    list-style: none;
    width: auto;
    min-height: 35px;
    font-size: 25px;
    padding: 3px 10px;
    margin: 5px 10px;
    background-color: rgba(248, 245, 229, .3);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.activeList ul li span {
    font-size: 23px;
    cursor: pointer;
    color: orangered;
    text-align: right;
    transition: .2s;
    z-index: 3;
}
.activeList ul li span:hover {
    font-size: 25px;
    background-color: rgba(208, 241, 173, .1);
}
.checked {
    transition: 10s;
    opacity: 0;
}

.doneList {
    width: 750px;
    display: none;
    position: relative;
}

.doneList ul li {
    width: auto;
    min-height: 35px;
    color: #fff;
    list-style: none;
    text-decoration: underline #FEF83F;
    font-size: 25px;
    padding: 3px 10px;
    margin: 5px 10px;
}

.doesntList {
    width: 750px;
    display: none;
    position: relative;
} 

.doesntList ul li {
    width: auto;
    min-height: 35px;
    list-style: none;
    color: #BF0202;
    font-weight: 600;
    font-size: 25px;
    padding: 3px 10px;
    margin: 5px 10px;
    background-color: rgba(113, 114, 114, .3);
}

.shown {
    display: block;
}

/* settings of input */

.add {
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 5px;
}

.add input {
    border: none;
    width: 580px;
    height: 70px;
    padding: 0 10px ;
    font-size: 20PX;
}

.add input::placeholder {
    color: #b5b5b5;
    font-size: 20px;
    text-align: center;
}

.add button {
    width: 150px;
    height: 70px;
    background-color: rosybrown;
    border: none;
    font-size: 20px;
    cursor: pointer;
}





footer h4 {
    text-align: right;
    font-size: 24px;
}

